{% extends 'layout.html' %}

{% block body %}
    <!-- Main Content -->
    <section class="lowdown content-wrapper">

      <div class="centeredContent">

        <h2 style="padding-top: 50px;padding-bottom: 30px;">Look up a word, learn it forever.</h2>

        <div style="display:flex;">
          <div class="col">
            <h3>Don’t just memorize. Achieve mastery.</h3>
            <p>Ditch the flash cards and stop memorizing definitions. Vocabulary.com teaches you words by systematically exposing you to a wide array of question types and activities that will help you understand all the meanings and nuances of every word you’re learning.</p>
            <p>Even after you’ve achieved mastery, we’ll continue to reinforce what you have learned to make sure that it all stays fresh in your memory.</p>
          </div>

          <div class="col">
            <h3>Get the lowdown on every word.</h3>
            <p>Look up a word in <a href="/worterbuch/">our dictionary</a> — you’ll read a friendly explanation that you'll actually remember. It’s as if your favorite teacher were explaining the word to you.</p>
            <p>Clever usage tips and real-world examples show you how words live in the wild so you’ll be more confident using them yourself.</p>
            <p>See a word you’d like to know better? Click "Learn this Word" and  add it to your learning program.</p>
          </div>

        </div>
      </div>

    </section>
{% endblock %}
